
<div id="signUpPage" layout="row">
    <div flex="60" style="background-color: rgba(74, 175, 255, 0.29)">

        <div style="position: relative;top:100px;left: 150px;font-size: 2em">
            <h2 style="">Sign-Up here!</h2>
            <span>Its's free and</span>
            <p>Always will be......</p>
        </div>
        <div style="position: absolute;top: 0px;">
            <marquee style="z-index: 999;float: left" direction="left" height="170" behavior="continuous" style="border:solid;">
                <img style="height: 140px; width:250px;opacity: 0.15;" src="images/cloud2.png" alt=""/>
            </marquee>
            <marquee style="z-index: 999" direction="right" height="170" behavior="continuous" style="border:solid;">
                <img style="height: 140px; width:250px;opacity: 0.15;" src="images/cloud2.png" alt=""/>
            </marquee>
            <marquee style="z-index: 999" direction="left" height="170" behavior="continuous" style="border:solid;">
                <img style="height: 140px; width:250px;opacity: 0.15;" src="images/cloud2.png" alt=""/>
            </marquee>
        </div>
    </div>

    <md-divider></md-divider>

    <div flex id="signUpBox">
        <form name="frm" style="padding: 15px;font-size: 1.2em;padding-top: 10%">
            <div layout="row">
                <md-input-container flex>
                    <label>First Name</label>
                    <input type="text" ng-model="home.user.fName"
                           required/>
                </md-input-container>


                <md-input-container flex>
                    <label>Last Name</label>
                    <input type="text" ng-model="home.user.lName" required/>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>UserName</label>
                    <input type="text" ng-blur="home.checkUname()" ng-model="home.user.uName" required/>
                </md-input-container>


                <!--  <div flex id="adj4">Occupation
                      <select ng-model="home.user.occupation" required id="select">
                          <option value="Private Job">Private Job</option>
                          <option value="Govt. Job">Govt. job</option>
                          <option value="Self Business">Self Business</option>
                          <option value="Other">Other</option>
                      </select>
                  </div>-->

                <div flex>
                    <md-select style="width: 150px;padding-left:25%" placeholder="Occupation" required
                               ng-model="home.user.occupation" style="min-width: 200px;">
                        <md-option value="Private Job">Private Job</md-option>
                        <md-option value="Govt. Job">Govt. job</md-option>
                        <md-option value="Self Business">Self Business</md-option>
                        <md-option value="Other">Other</md-option>
                    </md-select>
                </div>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Email ID</label>
                    <input type="email" name="email" ng-blur="home.checkMail()" ng-model="home.user.email" required/>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="text" ng-model="home.user.pswd"
                           required/>
                </md-input-container>
            </div>

            <md-input-container>
                <label>Confirm Password</label>
                <input type="text" ng-model="home.cpswd"
                       required/>
            </md-input-container>

            <div style="text-align: center">
                <md-button class="md-raised md-primary" ng-disabled="frm.$invalid"
                           ng-click="home.submitForm()">Submit
                </md-button>
            </div>

        </form>
    </div>

</div>



