<div id="LoginPage" layout="row">
    <div flex="30"></div>
    <div flex>
        <form name="frm2" style="padding-top: 10%">

                <md-content style="padding: 8%">
                    <span style="font-size: 1.3em;text-decoration: underline">Enter your information here</span> <br/>
                    <br/>
                    <md-input-container class="md-icon-float md-block">
                        <label> Email </label>
                        <input ng-model="signin.user.email" type="email" name="email" required>
                        <span class="right" ng-show="frm2.email.$error.required">Email is required</span>
                        <span class="right" ng-show="frm2.email.$error.email">Invalid email address</span>


                    </md-input-container>


                    <md-input-container class="md-icon-float md-block">
                        <label><i class="mdi mdi-lock"></i> Password </label>
                        <input ng-model="signin.user.pass" type="password" name="pass" required>
                    </md-input-container>


                    <md-button class="md-raised md-primary" ng-disabled="frm2.$invalid" ng-click="signin.login()">Sign In
                    </md-button>


                </md-content>

        </form>
        <span ng-show="signin.circular" style="position: absolute;left: 550px;top: 70px;">
                    <md-progress-circular class="md-progress" md-mode="indeterminate" class="center_align"
                                          md-diameter="250"></md-progress-circular>
                </span>

    </div>

    <div flex="30"></div>

</div>
