<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
      <ion-nav-back-button class="no-text">
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="fabContent"></ion-nav-view>
    <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right">
    <ion-header-bar class="dark-bg expanded">
      <span class="avatar" style="background: url('img/crown.jpg'); background-size: cover;"></span>
      <h2>Thronester</h2>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header">
      <ion-item nav-clear menu-close ng-click="logOut()">
        logout
      </ion-item>
      <ion-list>
<!--        <form name="frm">
          <div class="list">
            <label class="item item-input item-floating-label">
              <span class="input-label">Place Order</span>
              <input type="text" ng-model="user.info" placeholder="Order info" required>
            </label>
            <button class="button button-royal" ng-disabled="frm.$invalid" ng-click="sendOrder()">
              Send Order
            </button>
          </div>

        </form>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
