header{
    position: absolute;
    width: 100%;
    height: 12%;
   /* background-image: url('../images/new2.jpg');*/
    background-color: #794aa2;
    text-align: center;
    color:white;
}
header .mainHeading{
        font-size: 1.5em;
         padding-top: 1.5%;
}
header .log, header .time{
    font-size: 1.3em;
    padding-top: 1.8%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #363b3f;
    color: white;
    text-align: center;
    padding-top: 1.7%;
    font-size: 1.5em;
    font-weight: lighter;
}
footer span{
    background-color: #3b5998;
    padding: 8px 18px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
footer span img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
    left: -10px;
}
ui-view{
    background-color: #c0a16b;
    width: 100%;
    height: auto;
    position: relative;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    cursor: hand;
}
#middle{
    position: absolute;
    top:12%;
    bottom: 10%;
    height: auto;
    width: 100%;
    background-color: rgb(177,221,235);
}
body{
    overflow-y: scroll;
}
p{
    position: absolute;
    top: 100%;
}

#signUpPage{
    position: relative;
    height: 100%;
}


#signUpBox{
    margin: 10px;
    border: 5px solid grey;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

}

.smallImg{
    width: 40px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 20px;
}


md-toast.md-success-toast-theme {
    background-color: #66afe9;
}

.right{
    float: right;
}

#LoginPage{
    text-align: center;
}
#signUpBox md-button{
    text-align: center;
}
#signUpBox img{
    width: 30px;
    height: 30px;
}

md-toast.md-red-theme {
    background-color: rgba(255, 0, 0, 0.57);
    font-size: 1.15em;
}

md-toast.md-pink-theme {
    background-color: rgba(255, 106, 163, 0.4);
    font-size: 1.15em;
}

.styleButton{
    width: 150px;
    height: 50px;
    background-color: white;
    font-size: 1.2em;
    outline: none;
    color: darkgrey;
}

.styleButton:visited{
    background-color: yellow;
}